!!! 5
%html
  %head
    %title
      Kapil Kale
    %meta{:name => "description", :content => 'Kapil Kale\'s personal page'}
    = css :application

  %body
    .hero
      .container
        .row
          .twelve.columns
            %h1
              %span.bolded
                Kapil
              Kale
            %p.subheader
              %span
                San Francisco, CA
              ·
              %span
                New York, NY
        .row
          .four.columns.offset-by-four.column
            %p
              I'm a developer and product person based in San Francisco. Most of my work in the past 4 years has been around startups. In 2010, I started a company called
              %a{href: "https://www.giftrocket.com"} GiftRocket
              with a few friends. I've since started two other companies that haven't fared as well.
              I currently work at #{link_to "Angellist", "https://www.angel.co/kapil"}.
            %p
              I currently spend my time working on various tech projects, reading, and playing sports.



