!!! 5
%home
  %head
    %title
      Kapil Kale
    %meta{:name => "description", :content => 'Kapil Kale\'s personal page'}
    %link{:href => "/stylesheets/normalize.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "stylesheets/skeleton.css", :rel => "stylesheet", :type => "text/css"}

  %body
    %h1 Hello world
